<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'frontend/vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/templates.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/theme.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
</head>
<body ng-app="app">
{% verbatim %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!--
            <div class="navbar-header">
            </div>
            -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <div ui-view></div>
        </div>
    </div>
{% endverbatim %}
</body>
</html>