<div ng-controller="testsCtrl">
    <div ng-controller="createTestController">
        <div class="test-container"></div>
        <div class="forms-container"></div>
    </div>
    <ul>
        <li ng-repeat="answer in answers">{{ answer }}</li>
    </ul>
</div>