<div>
    <ul>
        <li><a ui-sref="sign_in">Войти</a> </li>
        <li><a ui-sref="add">Создать тест</a> </li>

        <li><a href="">Посмотреть тесты</a> </li>
        <li><a href="">Рекорды</a> </li>
    </ul>
</div>