<form name="SignIn" novalidate ng-controller="singInFormController" ng-submit="submit()" >
    <input type="text" name="username" placeholder="username" ng-model="username" required/>
    <input type="password" name="password" placeholder="password" ng-model="password" required/>
    <input type="submit" value="Войти" ng-disabled="SignIn.$invalid" class="btn"
           ng-class="{ 'btn-default' : SignIn.$invalid, 'btn-success' : !SignIn.$invalid}">
</form>