    <p>{{ id }}</p>
    <form name="QuestionForm" novalidate ng-submit="onSubmit()" >
        <input type="text" name="id" placeholder="id" value="{{ id }}"/>
        <input type="text" name="text" placeholder="text" ng-model="text" required/>
        <input type="submit" value="Добавить" ng-disabled="QuestionForm.$invalid" class="btn"
               ng-class="{ 'btn-default' : QuestionForm.$invalid, 'btn-success' : !QuestionForm.$invalid}">
    </form>