    <form name="CreateTest" novalidate ng-submit="onSubmit()" >
        <input type="text" name="id" placeholder="id" ng-model="id" ng-hide="true"/>
        <input type="text" name="name" placeholder="name" ng-model="name" required/>
        <input type="submit" value="Добавить" ng-disabled="CreateTest.$invalid" class="btn"
               ng-class="{ 'btn-default' : CreateTest.$invalid, 'btn-success' : !CreateTest.$invalid}">
    </form>